<html>
  <head>
    <title></title>
    <meta content="">
    <meta charset="utf-8">
    <style>
      html, body {
        padding: 0;
        margin: 0;
      }

      /* Buttons */
      #someid button {
        padding: 1px 10px;
        margin: 1px 5px;
      }
      #someid table {
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        border: none;
      }
      #main td {
        padding: 0;
        float:  right;
      }

      .closecam {
        float: right;
      }

      .camera-popup {
        display: none;
        position: fixed;
        bottom: 0;
        right: 0;
        border: 3px solid #aaa;
        border-radius: 15px 15px 0px 0px;
        z-index: 500;
      }

      .camsChoice {
        float: center;
        height: 20px;
        width: 35px;
        border-radius: 8px;
        border: none;
      }

      #footpage {
        height: 2vh;
      }

      #cameras {
        background-color: white;
      }

      #imagefeed   {max-height: 60vh; padding: 10px 0px; max-width: 640px;}

      /* Edge hack, God I hate this browser */
      _:-ms-lang(x),
      #container {
        width:94vw;
      }
    </style>
    <script src="{{url_for('static', filename="js/jquery-3.4.1.js")}}"></script>
    <script src="{{url_for('static', filename="blockly/blockly_compressed.js")}}"></script>
    <script src="{{url_for('static', filename="blockly/msg/js/en.js")}}"></script>

    <script src="{{url_for('static', filename="js/vectors_blocks.js")}}"></script>

    <!-- For JS-Blocks only -->
    <script src="{{url_for('static', filename="blockly/blocks_compressed.js")}}"></script>
    <script src="{{url_for('static', filename="blockly/python_compressed.js")}}"></script>
    <script src="{{url_for('static', filename="blockly/generators/python/vector.js")}}"></script>

    <script>
      function sendMessage() {
        var code = Blockly.Python.workspaceToCode(workspace);
        console.log("Sending program ...")
        $.ajax({
            method: 'POST',
            url: "/run",
            data: {'data': code},
            success: function(response) {
                console.log(response)
            },
            error: function(response) {
                console.error(response)
            }
        });
      }

      function connect() {
        // Manage to change the #camerafeed source in order to swap between robots
        var robot = $('#dropdownRobot').val();

        if(robot == "Purple") {
          $("#imagefeed").attr('src',"{{ url_for('video_feed', name="Purple") }}");
        } else if(robot == "Blue") {
          $("#imagefeed").attr('src',"{{ url_for('video_feed', name="Blue") }}");
        } else if(robot == "Green") {
          $("#imagefeed").attr('src',"{{ url_for('video_feed', name="Green") }}");
        } else if(robot == "Yellow") {
          $("#imagefeed").attr('src',"{{ url_for('video_feed', name="Yellow") }}");
        } else if(robot == "Lime") {
          $("#imagefeed").attr('src',"{{ url_for('video_feed', name="Lime") }}");
        }
      }

      function openCameras() {
        document.getElementById("cameras").style.display = "block";
      }

      function closeCameras() {
        document.getElementById("cameras").style.display = "none";
      }

      function chooseCam(robot) {
        if(robot == "Purple") {
          $("#imagefeed").attr('src',"{{ url_for('video_feed', name="Purple") }}");
        } else if(robot == "Blue") {
          $("#imagefeed").attr('src',"{{ url_for('video_feed', name="Blue") }}");
        } else if(robot == "Green") {
          $("#imagefeed").attr('src',"{{ url_for('video_feed', name="Green") }}");
        } else if(robot == "Yellow") {
          $("#imagefeed").attr('src',"{{ url_for('video_feed', name="Yellow") }}");
        } else if(robot == "Lime") {
          $("#imagefeed").attr('src',"{{ url_for('video_feed', name="Lime") }}");
        }
      }

    </script>

    <!-- Trying to use JQuerry to run python code localy -->
    <!--<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>-->

  </head>
  <body>
    <table id="main" width="100%" height=100%>
      <tr id="tabRow"class="right" height="2vh">
        <td class="tabmax">
          <button id="connectButton" class="notext" title="..." onclick="connect()">Connect to :</button>
          <select id="dropdownRobot">
            <option value="Purple">Purple</option>
            <option value="Blue">Blue</option>
            <option value="Green">Green</option>
            <option value="Yellow">Yellow</option>
            <option value="Lime">Lime</option>
          </select>
          <button id="trashButton" class="notext" title="...">Trash</button>
          <button id="runButton" class="notext primary" title="..." onclick="sendMessage()">Run</button>
        </td>
      </tr>
      <tr>
        <td id="container" colspan="2" height="99%" width="100%">
          <div id="blocklyArea" class="content" width="100%">
          </div>
        </td>
      </tr>
      <tr height="2vh" class="right">
        <td class="tabmax">
          <button class="popcam" onclick="openCameras()">+</button>
        </td>
      </tr>
    </table>

    <div class="camera-popup" id="cameras">
      <table>
        <tr id="titleRow">
          <td width="400px" colspan="4">
            <h4>Cameras</h1>
          </td>
          <td style="float: right;">
            <button class="closecam" onclick="closeCameras()">-</button>
          </td>
        </tr>
        <tr id="imageRow">
          <td colspan="5">
            <img src="{{ url_for('video_feed', name="Purple") }}" id="imagefeed">
          <td>
        </tr>
        <tr id="camsRow" height="2vh">
          <td>
            <button id="Purple" class="camsChoice" onclick="chooseCam(this.id)" style="background: #cc00cc;" value="Purple"></button>
          </td>
          <td>
            <button id="Blue" class="camsChoice" onclick="chooseCam(this.id)" style="background: blue;" value="Blue"></button>
          </td>
          <td>
            <button id="Green" class="camsChoice" onclick="chooseCam(this.id)" style="background: green;" value="Green"></button>
          </td>
          <td>
            <button id="Yellow" class="camsChoice" onclick="chooseCam(this.id)" style="background: yellow;" value="Yellow"></button>
          </td>
          <td>
            <button id="Lime" class="camsChoice" onclick="chooseCam(this.id)" style="background: lime;" value="Lime"></button>
          </td>
        </tr>
      </table>
    </div>

    <xml xmlns="http://www.w3.org/1999/xhtml" id="toolbox" style="display: none;">
      <category name="Logic" colour="#5C81A6">
        <block type="controls_if"></block>
        <block type="logic_compare">
          <field name="OP">EQ</field>
        </block>
        <block type="logic_operation">
          <field name="OP">AND</field>
        </block>
        <block type="logic_negate"></block>
        <block type="logic_boolean">
          <field name="BOOL">TRUE</field>
        </block>
        <block type="logic_null"></block>
        <block type="logic_ternary"></block>
      </category>
      <category name="Loops" colour="#5CA65C">
        <block type="controls_repeat_ext">
          <value name="TIMES">
            <shadow type="math_number">
              <field name="NUM">10</field>
            </shadow>
          </value>
        </block>
        <block type="controls_whileUntil">
          <field name="MODE">WHILE</field>
        </block>
        <block type="controls_for">
          <field name="VAR" id="gH~g0s!N?L4JWeg,wB5+" variabletype="">i</field>
          <value name="FROM">
            <shadow type="math_number">
              <field name="NUM">1</field>
            </shadow>
          </value>
          <value name="TO">
            <shadow type="math_number">
              <field name="NUM">10</field>
            </shadow>
          </value>
          <value name="BY">
            <shadow type="math_number">
              <field name="NUM">1</field>
            </shadow>
          </value>
        </block>
        <block type="controls_forEach">
          <field name="VAR" id="Rh;?V[edE-#P.B`6|To[" variabletype="">j</field>
        </block>
        <block type="controls_flow_statements">
          <field name="FLOW">BREAK</field>
        </block>
      </category>
      <category name="Math" colour="#5C68A6">
        <block type="math_number">
          <field name="NUM">0</field>
        </block>
        <block type="math_arithmetic">
          <field name="OP">ADD</field>
          <value name="A">
            <shadow type="math_number">
              <field name="NUM">1</field>
            </shadow>
          </value>
          <value name="B">
            <shadow type="math_number">
              <field name="NUM">1</field>
            </shadow>
          </value>
        </block>
        <block type="math_single">
          <field name="OP">ROOT</field>
          <value name="NUM">
            <shadow type="math_number">
              <field name="NUM">9</field>
            </shadow>
          </value>
        </block>
        <block type="math_trig">
          <field name="OP">SIN</field>
          <value name="NUM">
            <shadow type="math_number">
              <field name="NUM">45</field>
            </shadow>
          </value>
        </block>
        <block type="math_constant">
          <field name="CONSTANT">PI</field>
        </block>
        <block type="math_number_property">
          <mutation divisor_input="false"></mutation>
          <field name="PROPERTY">EVEN</field>
          <value name="NUMBER_TO_CHECK">
            <shadow type="math_number">
              <field name="NUM">0</field>
            </shadow>
          </value>
        </block>
        <block type="math_round">
          <field name="OP">ROUND</field>
          <value name="NUM">
            <shadow type="math_number">
              <field name="NUM">3.1</field>
            </shadow>
          </value>
        </block>
        <block type="math_on_list">
          <mutation op="SUM"></mutation>
          <field name="OP">SUM</field>
        </block>
        <block type="math_modulo">
          <value name="DIVIDEND">
            <shadow type="math_number">
              <field name="NUM">64</field>
            </shadow>
          </value>
          <value name="DIVISOR">
            <shadow type="math_number">
              <field name="NUM">10</field>
            </shadow>
          </value>
        </block>
        <block type="math_constrain">
          <value name="VALUE">
            <shadow type="math_number">
              <field name="NUM">50</field>
            </shadow>
          </value>
          <value name="LOW">
            <shadow type="math_number">
              <field name="NUM">1</field>
            </shadow>
          </value>
          <value name="HIGH">
            <shadow type="math_number">
              <field name="NUM">100</field>
            </shadow>
          </value>
        </block>
        <block type="math_random_int">
          <value name="FROM">
            <shadow type="math_number">
              <field name="NUM">1</field>
            </shadow>
          </value>
          <value name="TO">
            <shadow type="math_number">
              <field name="NUM">100</field>
            </shadow>
          </value>
        </block>
        <block type="math_random_float"></block>
      </category>
      <category name="Text" colour="#5CA68D">
        <block type="text">
          <field name="TEXT"></field>
        </block>
        <block type="text_join">
          <mutation items="2"></mutation>
        </block>
        <block type="text_append">
          <field name="VAR" id="[.Wn(VFBDp!_F3]R~#5a" variabletype="">item</field>
          <value name="TEXT">
            <shadow type="text">
              <field name="TEXT"></field>
            </shadow>
          </value>
        </block>
        <block type="text_length">
          <value name="VALUE">
            <shadow type="text">
              <field name="TEXT">abc</field>
            </shadow>
          </value>
        </block>
        <block type="text_isEmpty">
          <value name="VALUE">
            <shadow type="text">
              <field name="TEXT"></field>
            </shadow>
          </value>
        </block>
        <block type="text_indexOf">
          <field name="END">FIRST</field>
          <value name="VALUE">
            <block type="variables_get">
              <field name="VAR" id="GqQnIEz{$j]W:2|v9Uf]" variabletype="">text</field>
            </block>
          </value>
          <value name="FIND">
            <shadow type="text">
              <field name="TEXT">abc</field>
            </shadow>
          </value>
        </block>
        <block type="text_charAt">
          <mutation at="true"></mutation>
          <field name="WHERE">FROM_START</field>
          <value name="VALUE">
            <block type="variables_get">
              <field name="VAR" id="GqQnIEz{$j]W:2|v9Uf]" variabletype="">text</field>
            </block>
          </value>
        </block>
        <block type="text_getSubstring">
          <mutation at1="true" at2="true"></mutation>
          <field name="WHERE1">FROM_START</field>
          <field name="WHERE2">FROM_START</field>
          <value name="STRING">
            <block type="variables_get">
              <field name="VAR" id="GqQnIEz{$j]W:2|v9Uf]" variabletype="">text</field>
            </block>
          </value>
        </block>
        <block type="text_changeCase">
          <field name="CASE">UPPERCASE</field>
          <value name="TEXT">
            <shadow type="text">
              <field name="TEXT">abc</field>
            </shadow>
          </value>
        </block>
        <block type="text_trim">
          <field name="MODE">BOTH</field>
          <value name="TEXT">
            <shadow type="text">
              <field name="TEXT">abc</field>
            </shadow>
          </value>
        </block>
        <block type="text_print">
          <value name="TEXT">
            <shadow type="text">
              <field name="TEXT">abc</field>
            </shadow>
          </value>
        </block>
        <block type="text_prompt_ext">
          <mutation type="TEXT"></mutation>
          <field name="TYPE">TEXT</field>
          <value name="TEXT">
            <shadow type="text">
              <field name="TEXT">abc</field>
            </shadow>
          </value>
        </block>
      </category>
      <category name="Lists" colour="#745CA6">
        <block type="lists_create_with">
          <mutation items="0"></mutation>
        </block>
        <block type="lists_create_with">
          <mutation items="3"></mutation>
        </block>
        <block type="lists_repeat">
          <value name="NUM">
            <shadow type="math_number">
              <field name="NUM">5</field>
            </shadow>
          </value>
        </block>
        <block type="lists_length"></block>
        <block type="lists_isEmpty"></block>
        <block type="lists_indexOf">
          <field name="END">FIRST</field>
          <value name="VALUE">
            <block type="variables_get">
              <field name="VAR" id="1[HgTq#,N*k-={nn!OgJ" variabletype="">list</field>
            </block>
          </value>
        </block>
        <block type="lists_getIndex">
          <mutation statement="false" at="true"></mutation>
          <field name="MODE">GET</field>
          <field name="WHERE">FROM_START</field>
          <value name="VALUE">
            <block type="variables_get">
              <field name="VAR" id="1[HgTq#,N*k-={nn!OgJ" variabletype="">list</field>
            </block>
          </value>
        </block>
        <block type="lists_setIndex">
          <mutation at="true"></mutation>
          <field name="MODE">SET</field>
          <field name="WHERE">FROM_START</field>
          <value name="LIST">
            <block type="variables_get">
              <field name="VAR" id="1[HgTq#,N*k-={nn!OgJ" variabletype="">list</field>
            </block>
          </value>
        </block>
        <block type="lists_getSublist">
          <mutation at1="true" at2="true"></mutation>
          <field name="WHERE1">FROM_START</field>
          <field name="WHERE2">FROM_START</field>
          <value name="LIST">
            <block type="variables_get">
              <field name="VAR" id="1[HgTq#,N*k-={nn!OgJ" variabletype="">list</field>
            </block>
          </value>
        </block>
        <block type="lists_split">
          <mutation mode="SPLIT"></mutation>
          <field name="MODE">SPLIT</field>
          <value name="DELIM">
            <shadow type="text">
              <field name="TEXT">,</field>
            </shadow>
          </value>
        </block>
        <block type="lists_sort">
          <field name="TYPE">NUMERIC</field>
          <field name="DIRECTION">1</field>
        </block>
      </category>
      <category name="Colour" colour="#A6745C">
        <block type="colour_picker">
          <field name="COLOUR">#ff0000</field>
        </block>
        <block type="colour_random"></block>
        <block type="colour_rgb">
          <value name="RED">
            <shadow type="math_number">
              <field name="NUM">100</field>
            </shadow>
          </value>
          <value name="GREEN">
            <shadow type="math_number">
              <field name="NUM">50</field>
            </shadow>
          </value>
          <value name="BLUE">
            <shadow type="math_number">
              <field name="NUM">0</field>
            </shadow>
          </value>
        </block>
        <block type="colour_blend">
          <value name="COLOUR1">
            <shadow type="colour_picker">
              <field name="COLOUR">#ff0000</field>
            </shadow>
          </value>
          <value name="COLOUR2">
            <shadow type="colour_picker">
              <field name="COLOUR">#3333ff</field>
            </shadow>
          </value>
          <value name="RATIO">
            <shadow type="math_number">
              <field name="NUM">0.5</field>
            </shadow>
          </value>
        </block>
      </category>
      <sep></sep>
      <category name="Variables" colour="#A65C81" custom="VARIABLE"></category>
      <category name="Functions" colour="#9A5CA6" custom="PROCEDURE"></category>
      <sep></sep>
      <category name="Vector" colour="#5ba55b">
        <block type="connection">
          <field name="COLOUR">P</field>
          <field name="CAM_ON">FALSE</field>
        </block>
        <block type="leave_charger"></block>
        <block type="go_to_charger"></block>
        <block type="go_forward">
          <field name="distance_cm">10</field>
        </block>
        <block type="make_a_turn">
          <field name="nbr_turn">1</field>
        </block>
        <block type="say">
          <field name="TEXT">I love robot</field>
        </block>
        <block type="lift">
          <field name="POS">T</field>
        </block>
      </category>
    </xml>

    <xml xmlns="http://www.w3.org/1999/xhtml" id="workspaceBlocks" style="display:none">
      <block type="connection" id="?KdoLe:#l90mTM@eM]cJ" x="88" y="88">
        <field name="COLOUR">P</field>
        <field name="CAM_ON">FALSE</field>
        <statement name="main">
          <block type="leave_charger" id="OTZX:Dt[fKXN`OxK3#,z">
            <next>
              <block type="go_forward" id="xhN)Cwp#f*fD4.1u:oKZ">
                <field name="distance_cm">10</field>
                <next>
                  <block type="make_a_turn" id="0-Czz|~svbV.hew.Go4:">
                    <field name="nbr_turn">1</field>
                    <next>
                      <block type="say" id="rU0%g@0xaxF@ZwTftdZ$">
                        <field name="TEXT">I love robot</field>
                        <next>
                          <block type="lift" id="Nwtb#FSW!p)4huAhErwK">
                            <field name="POS">T</field>
                            <next>
                              <block type="lift" id="!wNXcTRLKjY8x.v+2Juj">
                                <field name="POS">B</field>
                                <next>
                                  <block type="go_to_charger" id="71,D-C],A+|~Uv(c./S%"></block>
                                </next>
                              </block>
                            </next>
                          </block>
                        </next>
                      </block>
                    </next>
                  </block>
                </next>
              </block>
            </next>
          </block>
        </statement>
      </block>
    </xml>

    <script>
      var toolbox = document.getElementById("toolbox");
      var blocklyArea = document.getElementById('blocklyArea');

      var options = {
        toolbox : toolbox,
        collapse : true,
//        comments : false,
//        disable : false,
        maxBlocks : Infinity,
        trashcan : true,
//        horizontalLayout : false,
          //        toolboxPosition : 'start',
        tooltips: true,
        css : true,
        media : 'https://blockly-demo.appspot.com/static/media/',
        rtl : false,
        scrollbars : true,
        sounds : true,
        oneBasedIndex : true
      };

      var onresize = function(e) {
        var container = document.getElementById('content_area');
        var bBox = Blockly.getBBox_(container);
        var el = document.getElementById('content_blocks');
        el.style.top = bBox.y + 'px';
        el.style.left = bBox.x + 'px';
        // Height and width need to be set, read back, then set again to
        // compensate for scrollbars.
        el.style.height = bBox.height + 'px';
        el.style.height = (2 * bBox.height - el.offsetHeight) + 'px';
        el.style.width = bBox.width + 'px';
        el.style.width = (2 * bBox.width - el.offsetWidth) + 'px';
      };
      window.addEventListener('resize', onresize, false);

      var workspace = Blockly.inject(blocklyArea, options);

      var workspaceBlocks = document.getElementById("workspaceBlocks");
      Blockly.Xml.domToWorkspace(workspaceBlocks, workspace);

      Blockly.svgResize(workspace);

     </script>
  </body>
</html>
