<html>
  <head>
    <title></title>
    <meta content="">
    <meta charset="utf-8">
    <link href="{{ url_for('static', filename="css/main.css") }}" rel="stylesheet" type="text/css">
    <script src="{{url_for('static', filename="js/jquery-3.4.1.js")}}"></script>
    <script src="{{url_for('static', filename="blockly/blockly_compressed.js")}}"></script>
    <script src="{{url_for('static', filename="blockly/msg/js/en.js")}}"></script>

    <script src="{{url_for('static', filename="js/vectors_blocks.js")}}"></script>

    <!-- For JS-Blocks only -->
    <script src="{{url_for('static', filename="blockly/blocks_compressed.js")}}"></script>
    <script src="{{url_for('static', filename="blockly/python_compressed.js")}}"></script>
    <script src="{{url_for('static', filename="blockly/generators/python/vector.js")}}"></script>

    <script>
      function sendMessage() {
        var code = Blockly.Python.workspaceToCode(workspace);
        console.log("Sending program ...")
        console.log(code)
        $.ajax({
            method: 'POST',
            url: "/run",
            data: {'data': code},
            success: function(response) {
                console.log(response)
            },
            error: function(response) {
                console.error(response)
            }
        });
      }

      function showCode() {
        var code = Blockly.Python.workspaceToCode(workspace);
        console.log("Generate code ...")
        console.log(code)
      }

      function connect() {
        // Manage to change the #camerafeed source in order to swap between robots
        var robot = $('#dropdownRobot').val();

        if(robot == "Purple") {
          $("#imagefeed").attr('src',"{{ url_for('video_feed', name="Purple") }}");
        } else if(robot == "Blue") {
          $("#imagefeed").attr('src',"{{ url_for('video_feed', name="Blue") }}");
        } else if(robot == "Green") {
          $("#imagefeed").attr('src',"{{ url_for('video_feed', name="Green") }}");
        } else if(robot == "Yellow") {
          $("#imagefeed").attr('src',"{{ url_for('video_feed', name="Yellow") }}");
        } else if(robot == "Lime") {
          $("#imagefeed").attr('src',"{{ url_for('video_feed', name="Lime") }}");
        }
      }

      function openCameras() {
        document.getElementById("cameras").style.display = "block";
      }

      function closeCameras() {
        document.getElementById("cameras").style.display = "none";
      }

      function chooseCam(robot) {
        if(robot == "Purple") {
          $("#imagefeed").attr('src',"{{ url_for('video_feed', name="Purple") }}");
        } else if(robot == "Blue") {
          $("#imagefeed").attr('src',"{{ url_for('video_feed', name="Blue") }}");
        } else if(robot == "Green") {
          $("#imagefeed").attr('src',"{{ url_for('video_feed', name="Green") }}");
        } else if(robot == "Yellow") {
          $("#imagefeed").attr('src',"{{ url_for('video_feed', name="Yellow") }}");
        } else if(robot == "Lime") {
          $("#imagefeed").attr('src',"{{ url_for('video_feed', name="Lime") }}");
        }
      }

    </script>

    <!-- Trying to use JQuerry to run python code localy -->
    <!--<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>-->

  </head>
  <body>
    <!--
    <table id="main" width="100%">
      <tr id="tabRow"class="right" height="2vh">
        <td class="tabmax">

          <button id="connectButton" class="notext" title="..." onclick="connect()">Connect to :</button>
          <select id="dropdownRobot">
            <option value="Purple">Purple</option>
            <option value="Blue">Blue</option>
            <option value="Green">Green</option>
            <option value="Yellow">Yellow</option>
            <option value="Lime">Lime</option>
          </select>

          <button id="showButton" class="notext" title="Display generated code in the console" onclick="showCode()">Show</button>
          <button id="trashButton" class="notext" title="...">Trash</button>
          <button id="runButton" class="notext primary" title="..." onclick="sendMessage()">Run</button>
        </td>
      </tr>
    </table>
    -->
    <div id="container">
      <div id="blocklyArea">
      </div>
      <button type="button" id="showCameraFeed" class="menuButton" onclick="openCameras()">
        <img src="{{ url_for('static', filename="video-camera.png")}}">
      </button>
      <button id="runButton" class="menuButton" title="Run code" onclick="sendMessage()">
        <img id="runImg" src="https://image.flaticon.com/icons/svg/263/263123.svg">
      </button>
    </div>

    <div class="camera-popup" id="cameras">
      <table>
        <tr id="titleRow">
          <td colspan="4">
            <h4>Cameras</h1>
          </td>
          <td style="float: right;">
            <button class="closecam" onclick="closeCameras()">-</button>
          </td>
        </tr>
        <tr id="imageRow">
          <td colspan="5">
            <img src="{{ url_for('static', filename="vectorhappy.jpg") }}" id="imagefeed">
          <td>
        </tr>
        <tr id="camsRow" height="2vh">
          <td>
            <button id="Purple" class="camsChoice" onclick="chooseCam(this.id)" style="background: #cc00cc;" value="Purple"></button>
          </td>
          <td>
            <button id="Blue" class="camsChoice" onclick="chooseCam(this.id)" style="background: blue;" value="Blue"></button>
          </td>
          <td>
            <button id="Green" class="camsChoice" onclick="chooseCam(this.id)" style="background: green;" value="Green"></button>
          </td>
          <td>
            <button id="Yellow" class="camsChoice" onclick="chooseCam(this.id)" style="background: yellow;" value="Yellow"></button>
          </td>
          <td>
            <button id="Lime" class="camsChoice" onclick="chooseCam(this.id)" style="background: lime;" value="Lime"></button>
          </td>
        </tr>
      </table>
    </div>

    <xml xmlns="http://www.w3.org/1999/xhtml" id="toolbox" style="display: none;">
      <category name="Start" colour="#00E183">
        <block type="connection">
          <field name="COLOUR">#cc00cc</field>
        </block>
      </category>
      <category name="Drive" colour="#00BEA9">
        <block type="leave_charger"></block>
        <block type="go_to_charger"></block>
        <sep></sep>
        <block type="go_forward">
          <field name="distance_cm">10</field>
        </block>
        <sep></sep>
        <block type="make_a_turn">
          <field name="nbr_turn">1</field>
        </block>
        <block type="turn">
          <field name="ORIENTATION">LEFT</field>
        </block>
        <block type="turn_angle">
          <field name="ANGLE">90</field>
          <field name="ORIENTATION">LEFT</field>
        </block>
        <sep></sep>
        <block type="lift">
          <field name="POS">T</field>
        </block>
        <sep></sep>
        <block type="set_speed">
          <field name="WHEEL">BOTH</field>
          <field name="SPEED">50</field>
        </block>
      </category>
      <category name="Look" colour="#00C0F0">
        <block type="move_head">
          <field name="POSITION">UP</field>
        </block>
      </category>
      <category name="Lights" colour="#463E8E">

      </category>
      <category name="Sound" colour="#FF802C">
        <block type="say">
          <field name="TEXT">I love robot</field>
        </block>
      </category>
      <category name="Animations" colour="#8F2BDD">

      </category>
      <category name="Control" colour="#EEC71C">
        <block type="while_loop"></block>
        <block type="until_loop"></block>
        <block type="wait_for"></block>
        <block type="break_type"></block>
        <block type="if_type"></block>
        <block type="not_type"></block>
        <sep></sep>
        <block type="wait_sleep">
          <field name="TIME">3</field>
        </block>
      </category>
      <category name="Sensors" colour="#5DA5CB">
        <block type="wall_in_front"></block>
        <block type="is_touched"></block>
      </category>
      <category name="Cube" colour="#FF95A8">
        <block type="find_cube"></block>
        <block type="roll_cube"></block>
        <block type="pick_cube"></block>
        <block type="dock_cube"></block>
        <block type="place_cube"></block>
        <block type="pop_a_wheelie"></block>
      </category>
    </xml>

    <xml xmlns="http://www.w3.org/1999/xhtml" id="workspaceBlocks" style="display:none">
      <block type="connection">
        <field name="COLOUR">#cc00cc</field>
        <statement name="main">
          <block type="leave_charger">
            <next>
              <block type="go_to_charger"></block>
            </next>
          </block>
        </statement>
      </block>
    </xml>

    <script>
      var toolbox = document.getElementById("toolbox");
      var blocklyArea = document.getElementById('blocklyArea');

      var options = {
        toolbox : toolbox,
        collapse : true,
//        comments : false,
//        disable : false,
        maxBlocks : Infinity,
        trashcan : true,
//        horizontalLayout : false,
          //        toolboxPosition : 'start',
        tooltips: true,
        css : true,
        media : 'https://blockly-demo.appspot.com/static/media/',
        rtl : false,
        scrollbars : true,
        sounds : true,
        oneBasedIndex : true
      };

      var workspace = Blockly.inject(blocklyArea, options);

      var workspaceBlocks = document.getElementById("workspaceBlocks");
      Blockly.Xml.domToWorkspace(workspaceBlocks, workspace);

      function myUpdateFunction(event) {
        var code = Blockly.Python.workspaceToCode(workspace);
        console.warn("Code has been updated !")
        console.log(code);
      }
      workspace.addChangeListener(myUpdateFunction);

      Blockly.svgResize(workspace);

     </script>
  </body>
</html>
